.jobSeeker{
    
}
.ui.jobSeeker.table{
    

}
.tableHeader{
    font-size: xx-large;
    background-color: #9c0300;
}

.ui.jobSeeker.header{
    background-color: #9c0300;
    font-size: xx-large;
}

.deneme{
    background-color: #9c0300 ;
}

